/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require admin-lte/bootstrap.min
 *= require admin-lte/font-awesome
 *= require admin-lte/ionicons
 *= require admin-lte/AdminLTE
 *= require_self
 */

table.index_table
  thead tr th
    border-bottom: none
.right-side > .content-header
  min-height: 67px
.action-items-block
  float: right
  position: absolute
  top: 25px
  right: 15px
.breadcrumb-block
  margin-top: -10px
.breadcrumb-block > ol
  li + li:before
    content: ">\00a0"
  a
    color: #444
    text-decoration: none

  background: transparent
  margin-top: 0px
  margin-bottom: 0
  font-size: 12px
  padding: 7px 5px
  top: 15px
  right: 15px
  -webkit-border-radius: 2px
  -moz-border-radius: 2px
  border-radius: 2px
  padding-top: 2px
